                                                        6 Mar Assignments - Statistics Basics - 1

Q1. What is Statistics?


Ans : 

Statistics is the science of collecting, organizing and analyzing data

Q2. Define the different types of statistics and give an example of when each type might be used.

Ans: 
    
                    Descriptive Statistics : 
    
consists of organizing and summarizing data.

e.g: in a class of 20 students, we can calculate the mean (average) height of students




                    Inferential Statistics : 
    
it consists of using data to measure and get a conclusion based on your data.

e.g : if the average height of a class can be consider as a average height of the entire compass or not

Q3. What are the different types of data and how do they differ from each other? Provide an example of
each type of data.

Ans:

1. Quantitive Data : it consider only numerical Values. it can be separated between below 2 categories.

    a. Discrete : only deals in whole numbers. 
    
    e.g : no of bank account of a person
    
    b. Continious : it can deal with any type of numeric values.
    
    e.g: height

2. Qualitative Data : it consider categorical value.  it can be separated between below 2 categories.

    a. Nominal : no rank were associated with it.
    
    e.g : Gender (male, female, others)
    
    b. Ordinal : rank should be there.
    
    e.g : customer Feedback : ( Good - 1,
                               Avergae - 2,
                               Bad-  3)

Q4. Categorise the following datasets with respect to quantitative and qualitative data types:

Ans:

(i) Grading in exam: A+, A, B+, B, C+, C, D, E


Qualitative - Ordinal


(ii) Colour of mangoes: yellow, green, orange, red

Qualitative - Nominal


(iii) Height data of a class: [178.9, 179, 179.5, 176, 177.2, 178.3, 175.8,...]

Quantitative - Continious

(iv) Number of mangoes exported by a farm: [500, 600, 478, 672, …]

Quantitative - Discrete

Q5. Explain the concept of levels of measurement and give an example of a variable for each level.

Ans:

Levels of measurement: it tells you how precisely variables are recorded.


    1. Nominal: the data can only be categorized
       e.g : Gender 
    
    
    2. Ordinal: the data can be categorized and ranked
       e.g : Working Productivity in week : 
        Mon - 100
        Tue - 80
        Wed - 60
        Thurs - 40
        Fri - 30
    
    3. Interval: the data can be categorized, ranked, and evenly spaced
       e.g : Temparature Variable 
    
    
    4. Ratio: the data can be categorized, ranked, evenly spaced, and has a natural zero.
       e.g : Marks of all students in a class = [0,15, 23, 50, 75, 83, 94, 100]

Q6. Why is it important to understand the level of measurement when analyzing data? Provide an
example to illustrate your answer.

Ans : 

The level at which you measure a variable determines how you can analyze your data.

The different levels limit which descriptive statistics you can use to get an overall summary of your data, and which type of inferential statistics you can perform on your data to support or refute your hypothesis.

In many cases, your variables can be measured at different levels, so you have to choose the level of measurement you will use before data collection begins.

Example : 
    
You can measure the variable of income at an ordinal or ratio level.

    Ordinal level: You create brackets of income ranges: $0–$19,999, $20,000–$39,999, and $40,000–$59,999. 
    You ask participants to select the bracket that represents their annual income. The brackets are coded with numbers from 1–3.
    Ratio level: You collect data on the exact annual incomes of your participants.

Participant 	Income (ordinal level) 	Income (ratio level)
A 	Bracket 1 	$12,550
B 	Bracket 2 	$39,700
C 	Bracket 3 	$40,300

At a ratio level, you can see that the difference between A and B’s incomes is far greater than the 
difference between B and C’s incomes.

At an ordinal level, however, you only know the income bracket for each participant,
not their exact income. Since you cannot say exactly how much each income differs from the others in your data set,
you can only order the income levels and group the participants.

Q7. How nominal data type is different from ordinal data type.

Ans:

Nominal : 

    Order doesn't matter

    We cant compare 2 data based on value

Ordinal:
    
    Order Matter
    
    we can compare 2 data based on value

Q8. Which type of plot can be used to display data in terms of range?

ans: 

Histogram

Q9. Describe the difference between descriptive and inferential statistics. Give an example of each
type of statistics and explain how they are used.

Ans:

1 . Descriptive Statistics gives information about raw data regarding its description or features. 

Inferential statistics, on the other hand, draw inferences about the population by using data extracted from the population. 

2. We use descriptive statistics to describe a situation, while we use inferential statistics to explain the probability of occurrence of an event. 

3. As for descriptive statistics, it helps to organize, analyze and present data in a meaningful manner. Inferential statistics helps to compare data, make hypotheses and predictions. 

4. Descriptive statistics explains already known data related to a particular sample or population of a small size. Inferential statistics, however, aims to draw inferences or conclusions about a whole population. 

5. We use charts, graphs, and tables to represent descriptive statistics, while we use probability methods for inferential statistics.

e.g :  class of 100 stundents with some height

descriptive statistics : 

what is the average height of this class


Inferential Statistics: 

Based on avergae height of 100 stundents, can we predict the averge height of entire college

Q10. What are some common measures of central tendency and variability used in statistics? Explain
how each measure can be used to describe a dataset.

ans: 

Mean, median, mode

In [17]:
import pandas as pd
height  = [167,156, 156, 156, 156, 157, 159, 168, 145]
df = pd.DataFrame(height)
df.head()

     0
0  167
1  156
2  156
3  156
4  156

In [19]:
#average of height
df.mean()

0    157.777778
dtype: float64

In [20]:
#remove the outliner and give the average
df.median()

0    156.0
dtype: float64

In [22]:
# provide us the no which has highest frequency
df.mode()

     0
0  156