Q1. What are the three measures of central tendency?

ans : 

mean, median, mode

Q2. What is the difference between the mean, median, and mode? How are they used to measure the
central tendency of a dataset?

ans :

please find the below example

In [3]:
import pandas as pd

height  = [167,156, 156, 156, 156, 157, 159, 168, 145]

df = pd.DataFrame(height)

df.head()

     0
0  167
1  156
2  156
3  156
4  156

In [8]:
#average of height

df.mean()

0    157.777778
dtype: float64

In [5]:
#remove the outliner and give the average

df.median()

0    156.0
dtype: float64

In [7]:
# provide us the no which has highest frequency

df.mode()

     0
0  156

Q3. Measure the three measures of central tendency for the given height data:

[178,177,176,177,178.2,178,175,179,180,175,178.9,176.2,177,172.5,178,176.5]

In [12]:
data3 = [178,177,176,177,178.2,178,175,179,180,175,178.9,176.2,177,172.5,178,176.5]

In [13]:
df3 = pd.DataFrame(data3)

In [15]:
df3.mean()

0    177.01875
dtype: float64

In [16]:
df3.median()

0    177.0
dtype: float64

In [17]:
df3.mode()

       0
0  177.0
1  178.0

Q4. Find the standard deviation for the given data:

[178,177,176,177,178.2,178,175,179,180,175,178.9,176.2,177,172.5,178,176.5]

data4 = [178,177,176,177,178.2,178,175,179,180,175,178.9,176.2,177,172.5,178,176.5]
df4 = pd.DataFrame(data4)
df4.std()

Q5. How are measures of dispersion such as range, variance, and standard deviation used to describe
the spread of a dataset? Provide an example.

ans : 

Range : The range of a dataset is the difference between the largest and smallest values in that dataset.

e.g : data = [20,22,45,54,65]

range = 65-20 = 45

In [ ]:
Variance : Variance is the average squared difference of the values from the mean.

In [22]:
height  = [167,156, 156, 156, 156, 157, 159, 168, 145]

df4 = pd.DataFrame(height)

df4.head()
df4.var()

0    45.944444
dtype: float64

Std Deviation : The standard deviation is the standard or typical difference between each data point and the mean.

In [23]:
df4.std()

0    6.778233
dtype: float64

Q6. What is a Venn diagram?

ans: 
    
A Venn diagram is a widely used diagram style that shows the logical relation between sets,

Q7. For the two given sets A = (2,3,4,5,6,7) & B = (0,2,6,8,10). Find:

(i) A Intersection B

(ii) A Union B


ans : 
    

(i) A Intersection B : 2, 6

(ii) A Union B : 2,3,4,5,6,7,0,8,10

Q8. What do you understand about skewness in data?

Ans : 

Skewness is a measure of the asymmetry of a distribution

Q9. If a data is right skewed then what will be the position of median with respect to mean?

Ans : 

i.e Positive Skewed 
mean >= median >= Mode

Q10. Explain the difference between covariance and correlation. How are these measures used in
statistical analysis?

ans :
    
    
Correlation helps us to understand whether two quantitive or categorical variables are related or not

covariance measures directorial relationship bw two random variables. 


example:
    
suppose we have 2 variable a & b,

our task is to establish a relationship between a and b.

case 1 : - POSITIVE COVARIANCE

    if a increases b will also increase
    if a decreases b will also decrease. 

case 2 : - Negative COVARIANCE

    if a increases b will  decrease
    if a decreases b will increase.

Q11. What is the formula for calculating the sample mean? Provide an example calculation for a
dataset.

ans: 
    
sample mean = (sum of all the variables in sample)/(total no of variables)

example :

In [3]:
import seaborn as sns
df11 = sns.load_dataset("tips")
df11.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [7]:
#lets assume df11 is our sample data on TIPS DATASET. calculate the sample mean on tip

df11['tip'].mean()

2.99827868852459

Q12. For a normal distribution data what is the relationship between its measure of central tendency?

ans: 

mean = median = mode

Q13. How is covariance different from correlation?


ans :

Correlation helps us to understand whether two quantitive or categorical variables are related or not

covariance measures directorial relationship bw two random variables.

Q14. How do outliers affect measures of central tendency and dispersion? Provide an example.

In [11]:
# we have a data of 10 students age with outlier = 107

data14 = [8,12,18,23,21,12,13,26,19,107]

import numpy as np

#mean shows the avergae age 
np.mean(data14)

25.9

In [12]:
#meadian calculation
np.median(data14)

18.5

In [16]:
np.var(data14)

759.2899999999998

In [17]:
np.std(data14)

27.555217291830594